@{
    ViewBag.Title = "Inicio";
}

<h2>¡Bienvenid@@s!</h2>
<p>
    Aquí podrás consultar, reservar y administrar fácilmente las propiedades disponibles.
    Accede a toda la información en tiempo real y realiza tus gestiones de forma rápida y segura.
</p>